# ---------- Node ----------
node_modules/
.pnpm-store/
.npm/

# ---------- NestJS / TS build ----------
dist/
build/
*.tsbuildinfo

# ---------- Next.js ----------
.next/
out/
.turbo/
.vercel/
next-env.d.ts

# ---------- Env ----------
.env
.env.*
!.env.example

# ---------- Logs ----------
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ---------- Test / coverage ----------
coverage/
.nyc_output/

# ---------- IDE / OS ----------
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# ---------- Database / Docker ----------
postgres-data/
.docker/

# ---------- Misc ----------
.cache/
tmp/
*.local
